resul*
*.pyc
*.tif
*.tiff
*.pt
ground_truth
*.json
.idea/
.ipynb_checkpoints/
./dataset_multiMNIST/MNIST/raw
./cellsegmenter.egg-info
./src/genus.egg-info
./docs/build/*
./docs/make.bat
./docs/notes_for_luca.txt
./src/genus/__pycache__
./notebooks/*mnist*
./notebooks/single_MNIST*
notebooks/single_MNIST/*
docs/build/*
